
---
layout: ""
page_title: "Provider: IOSXR"
description: |-
  The IOSXR provider provides resources to interact with one or more Cisco IOS-XR devices.
---

# IOSXR Provider

The IOSXR provider provides resources to interact with one or more Cisco IOS-XR devices.

The required device configuration can be found below.

```
grpc
```

All resources and data sources have been tested with the following releases.

| Platform | Version |
| -------- | ------- |
| XRv 9000 | 7.6.1   |
| XRv 9000 | 7.9.1   |

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}